input[type="submit"], button {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 7px 14px;
    text-align: center;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.defaultbtn {
    background-color: #5CDB95;
    margin-left: 10px;
    border-radius: 34px;
}

.defaultbtn:hover {
    background-color: #379683aa;
}

.addbtn {
    background-color: #5CDB95;
    padding: 10px 10px;
    border-radius: 4px;
    position: absolute;
    right: 40px;
}

.addbtn:hover {
    background-color: #379683aa;
}

.goto-btn {
	background-color: #5CDB95;
    padding: 10px 10px;
    border-radius: 4px;
}

.goto-btn:hover {
    background-color: #379683aa;
}

.submitbtn {
    background-color: #5CDB95;
    padding: 8px 10px;
    margin: 0 4px 0 0;
    border-radius: 4px;
}

.submitbtn:hover {
	background-color: #379683aa;
}

.actionbtn {
    color: #125071;
    padding: 8px;
    vertical-align: middle;
    text-decoration: none;
}

.dropbtn {
	background-color: #fff;
	color: #000000;
	font-weight: 400;
	padding: 10px 10px;
	border: 1px solid gray;
	border-radius: 4px;
	margin-right: 10px;
	cursor: pointer;
	text-align:left;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 2px 0 0 0;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 360px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
}

.dropdown-content-sort {
	width: calc(100% - 10px);
	height:auto;
	overflow-y: hidden;
}

.dropdown-content p {
	color: gray;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	margin: 0;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	margin: 4px;
	text-decoration: none;
	display: block;
	white-space:nowrap;
	transition: all 0.2s ease-in-out;
}

.dropdown-content a:hover {
	background-color: #3ac0da;
	border-radius: 4px;
	color: #fff;
}

.dropdown-content-divider {
	padding: 0;
	border-bottom: 1px solid #ccc;
}

.show {display:block;}

.chevron-icon {
	font-size: 14px;
    padding-left: 16px;
}

i.sort-filt-icon-styling {
    font-size: 14px;
}

.circle-btn {
	background-color: #5CDB95;
	width: 50px;
	height: 50px;
	text-align: center;
	padding: 6px 0;
	margin-top: 10px;
	font-size: 25px;
	text-decoration: none;
	border-radius: 50%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
}

.circle-btn:hover {
	background-color: #379683aa;
}

