.tabs{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 16px;
}

.tab{
  cursor: pointer;
	background-color: gray;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: block;
	margin: 0 0 0 8px;
}
.panels {
	height: 100%;
}

.panel{
  display:none;
  animation: fadein .8s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.panel-title{
  font-size:1.5em;
  font-weight:bold
}

.radio{
  display:none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel{
  display:block;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab{
  background-color: #125071;
}