.sidebar {
	height: 100%;
	width: 180px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(28,119,167,1) 9%, rgba(18,80,113,1) 100%);
	overflow: hidden;
	padding-top: 20px;
}

.sidebar a {
	padding: 13px 20px 13px 20px;
	text-decoration: none;
	color: #FFFFFF;
	opacity: 0.7;
	display: block;
	border-left: 6px solid transparent;
	transition: all 0.2s ease-in-out;
}

.sidebar a:hover {
    opacity: 1;
}

i.nav-icon-styling {
    color: #FFFFFF;
    width: 24px;
    font-size: 15px;
    padding-right: 8px;
}

#logo-title{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
}

.main {
    height: calc(100% - 15px);
    padding-top: 15px;
    margin-left: 220px;
    margin-right: 40px;
}

#active {
	background: rgba(255, 255, 255, 0.2);
	border-left: 6px solid #61ec9f;
	opacity: 1;
}
