.tabs{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.tab{
    cursor: pointer;
	position: relative;
    display: inline-block;
    padding: 20px 20px 30px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 500;
}

.tab::after {
	content: "";
	position: absolute;
	left: 20px;
	bottom: 15px;
	width: 55px;
	height: 3px;
	background: #8d8d8d;
}

.tab:hover {
	color: #1c77a7
}

.panels {
	height: 100%;
}

.panel{
  display:none;
  animation: fadein .8s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.panel-title{
  font-size:1.5em;
  font-weight:bold
}

.radio{
  display:none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel{
  display:block;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab {
  color: #1c77a7;
}

#one:checked ~ .tabs #one-tab::after,
#two:checked ~ .tabs #two-tab::after,
#three:checked ~ .tabs #three-tab::after,
#four:checked ~ .tabs #four-tab::after {
  background-color: #1c77a7;
}