* {
    font-family: Roboto,Arial,sans-serif;
    font-size: 15px
}

body {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    min-width: 1200px;
}

p {
	margin: 0
}

#app {
    width: 100%;
    height: 100%
}

.footer {
   position: fixed;
   left: 180px;
   right: 0;
   bottom: 0;
   padding: 10px;
   background-color: #dbdbdb;
   color: #868686;
   text-align: center;
}

input[type=date],input[type=number],input[type=text],select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid gray;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.1)
}

input[type=number] {
    -moz-appearance: textfield
}

.title {
    font-size: 21px;
    font-weight: 700;
    margin: 20px 0
}

.inline {
    display: inline-block
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.expense-bg,.income-bg {
    background-color: #f44b2f;
    color: #fff;
    padding: 6px 8px;
    border-radius: 34px;
    max-width: max-content
}

.income-bg {
    background-color: #75e0a2
}

.chart-card {
    display: inline-block
}

.chart-card,.trans-card {
    background: #fff;
    border-radius: 16px;
    box-shadow: 5px 5px 10px #ccc;
    overflow: hidden
}

.chart-msg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#expensesDoughnutChart,#incomeDoughnutChart {
    padding-bottom: 16px
}

.card-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px
}

.card-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 16px 0
}

.card,.spending-summary {
    display: flex;
    flex-direction: column
}

.spending-summary {
    align-items: flex-end
}

.card {
    box-sizing: border-box;
    padding: 30px;
    border-radius: 16px;
    color: #fff;
    line-height: 50px;
    box-shadow: 5px 5px 10px #ccc;
    justify-content: space-evenly;
    height: 100%
}

.card.gradient {
    background: linear-gradient(150deg,#61ec9f,#1c77a7 100%)
}

.number {
    font-family: 'Roboto Condensed',sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 50px
}

.number-trans::after,.number::after {
    content: "RON";
    position: relative;
    font-size: 20px
}

.number-expense {
    font-size: 45px;
    color: #f44b2f
}

.number-income {
    font-size: 45px;
    color: #5cdb95
}

.number-trans {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 18px;
    font-weight: 700
}

.number-trans::after {
    font-size: 14px
}

.number-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center
}

.container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.container-column1 {
    width: 60%;
    background: #fff;
    border-radius: 16px;
    box-shadow: 5px 5px 10px #ccc;
    overflow: hidden
}

.container-column1,.container-column2,.container-transactions {
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

.container-column2 {
    width: 40%;
    margin: 0 0 0 40px
}

.container-transactions {
    justify-content: space-between;
    margin: 16px
}

.container-trans-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px
}

.container-trans-col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    padding: 0 16px
}

.error-msg-title {
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    color: #f44b2f
}

.error-pg-msg {
    margin: 30px 0;
    color: gray;
    text-align: center
}

#error {
    color: #d8000c;
    background-color: #ffbaba;
    margin-left: 180px;
    padding: 10px 40px;
    display: flex;
    flex-direction: row;
    align-items: center
}

#error i {
    padding-right: 10px;
}

.error-closebtn {
	color: #d8000c;
	font-weight: 500;
	font-size: 20px;
	cursor: pointer;
	transition: 0.2s;
}

.error-closebtn:hover {
	color: black;
}

.message,.message-small {
    text-align: center;
    font-weight: 700;
    font-size: 25px
}

.message-small {
    font-weight: 500;
    font-size: 20px
}

.error-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.error-pg,a.clear-filter {
    flex-direction: column;
    justify-content: center
}

#error-bulb {
    max-height: 50%;
    max-width: 50%;
    margin-right: 40px
}

i {
    pointer-events: none
}

a.clear-filter {
    display: flex;
    text-decoration: none
}

i.clear-filter {
    color: #000;
    font-size: 20px
}

#date-filter,.error-pg,.square {
    display: flex;
    align-items: center
}

#date-filter {
    flex-direction: row;
    justify-content: flex-start
}

#date-filter input {
    margin: 0 10px
}

.square {
    height: 36px;
    width: 36px;
    background-color: rgb(104,197,204,.4);
    border-radius: 10px;
    justify-content: center
}

i.coin {
    color: rgb(8,135,156,.5);
    font-size: 20px
}

.last-trans-cat {
    font-size: 15px;
    font-weight: 500
}

.last-trans-det {
    color: #949494;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase
}