table {
    background-color: #FFFFFF;
    table-layout: auto;
    border-collapse: collapse;
    border-radius: 4px;
    margin-bottom: 40px;
    width: 100%;
    overflow: hidden;
}

table.categories td{
	padding: 9px;
}

td, th {
    padding: 15px;
}

td:last-of-type {
    text-align: center;
}

td:nth-child(3) {
    max-width: 300px;
}

th {
    color: #125071;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    text-transform: uppercase;
    border-bottom: 6px solid #F3F3F3;
}

tr {
    text-align: left;
    border-bottom: 3px solid #F3F3F3;
}

tr:hover {
    background-color: #e4f3dc;
    transition: all 0.2s ease-in-out;
}

